.da-slider{
	font-family: 'texgyreadventorregular';
	width: 100%;
	height:460px;
	position: relative;
	overflow: hidden;
	text-align: center;
}
.da-slide{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	text-align: center;
	align-items: center;
	padding-top: 3cm;
}

.da-slide .da-img{
	position: absolute;
	opacity: 0;
	left: 110%;
}



.da-slide h2 {
	font-family: 'texgyreadventorregular';
	text-transform: uppercase;
	color: #202020;
	width: 70%;
	top: 90px;
	font-size:6em;
	text-align: center;
	margin: 0 auto;
}
.da-slide p{
	font-family: 'open_sansregular';
	top: 195px;
	color: #101010;
	font-size: 16px;
	overflow: hidden;
	line-height: 24px;
	text-align: center;
	margin: 0 auto;
	width: 70%;
	font-weight: 400;
}
.da-img{
	display:none;
}
.da-slide .da-img{
	text-align: center;
	width: 30%;
	top: 52px;
	height: 256px;
	line-height: 320px;
	left: 110%; /*60%*/
}

.da-slide .da-link{
	top: 280px;
	overflow: hidden;
	text-align: center;
	margin: 0 auto;
	font-weight: 400;
	width:70%;
}

@media only screen and (max-width: 1440px) and (min-width:1366px) {
	.da-dots {
		bottom: 55px;
	}
	.da-arrows span {
		top: 43%;
	}
}
@media only screen and (max-width: 1366px) and (min-width:1280px) {
	.da-dots {
		bottom: 55px;
	}
	.da-arrows span {
		top: 70%;
	}
}
@media only screen and (max-width: 1280px) and (min-width:1024px) {
	.da-dots {
		bottom: 55px;
	}
	.da-arrows span {
		top: 66%;
	}
}
@media only screen and (max-width: 1024px) and (min-width:768px) {
	.da-dots {
		width:100%
	}
	.da-arrows span {
		top: 62%;
	}
	.da-arrows span.da-arrows-prev {
		left: 49%;
	}
	.da-arrows span.da-arrows-next {
		right: 48%;
	}
	.da-slider {
		height: 430px;
	}
	.da-slide .da-link {
		margin-left: 30%;
	}
	.da-slide h2 {
		font-size: 5em;
	}
	.da-slide .da-link {
		width: 20%;
	}
}
@media only screen and (max-width: 768px) and (min-width:640px) {
	.da-dots {
		width:100%
	}
	.da-arrows span {
		top: 68%;
	}
	.da-arrows span.da-arrows-prev {
		left: 50%;
	}
	.da-slider {
		height:380px;
	}
	.da-slide .da-link {
		margin-left: 28%;
	}
	.da-slide h2{
		font-size:2em;
		top:70px;
	}
	.da-slide p{
		top: 139px;
		font-size: 13px;
	}
	.da-slide .da-link {
		top: 220px;
	}
}
@media only screen and (max-width: 640px) and (min-width:480px) {
	.da-dots {
		width:100%
	}
	.da-arrows span {
		top: 65%;
	}
	.da-slider {
		height:380px;
	}
	.da-slide .da-link {
		margin-left: 28%;
		width: 90%;
	}
	.da-slide h2{
		margin-left:40px;
		font-size: 2em;
		top:70px;
	}
	.da-slide p{
		margin-left:40px;
		top: 120px;
		font-size: 13px;
	}
	.da-slide .da-link {
		top: 300px;
	}
}
@media only screen and (max-width: 480px) and (min-width:320px) {
	.da-dots {
		width:100%
	}
	.da-slider {
		height: 300px;
	}
	.da-slide .da-link {
		margin-left: 28%;
	}
	.da-slide h2{
		font-size: 1.8em;
		top: 35px;
		width: 90%;
	}
	.da-slide p{
		top: 80px;
		font-size: 13px;
		line-height: 1.5em;
		width:90%;
	}
	.da-slide .da-link {


	}
	.da-arrows span {
		top: 62%;
	}
	.da-arrows span.da-arrows-next {
		right: 50%;
	}
}
@media only screen and (max-width: 320px) and (min-width:240px) {
	.da-dots {
		width:100%
	}
	.da-slider {
		height:280px;
	}
	.da-slide .da-link {
		margin-left: 12%;
	}
	.da-slide h2{
		width:70%;
		top: 50px;
		font-size: 22px;
		margin-left:10px;
	}
	.da-slide p{
		width:70%;
		margin-left:20px;
		top: 110px;
		font-size:13px;
	}
	.da-slide .da-link {

	}
	.da-arrows span.da-arrows-next {
		right: 42%;
	}
	.da-arrows span.da-arrows-prev{
		left: 48%;
	}
	.da-arrows span {
		top: 66%;
	}
	.hide_text{
		display: none;
	}
}